:root {
    --sg-font-sans: system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --sg-font-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --sg-transparent: 'transparent';
    --sg-black96: #0a0a0a;
    --sg-darkgrey: #202020;
    --sg-black80: #333333;
    --sg-grey: #8c9aa4;
    --sg-lightgrey: #f5f5f5;
    --sg-white: #ffffff;
    --sg-blue: #4ea2da;
    --sg-orange: #e78e47;
    --sg-navy: #20435b;
    --sg-red: #681F37;
    --sg-green: #248E6A;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0
}

address, area, article, aside, audio, blockquote, datalist, details, dl, fieldset, figure, form, iframe, img, input, meter, nav, ol, optgroup, option, output, p, pre, progress, ruby, section, table, textarea, ul, video {
    margin-bottom: 1rem
}

button, html, input, select {
    font-family: var(--sg-font-sans)
}

body {
    margin: 0 auto;
    max-width: 750px;
    padding: 2rem;
    border-radius: 6px;
    overflow-x: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
    color: var(--sg-black80);
    font-size: 1.03rem;
    line-height: 1.5;
    background-image: url("https://github.com/sarahcgallLtd/sarahcgallltd.github.io/figs/scg-home-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

::selection {
    background: var(--sg-orange);
    color: var(--sg-black96)
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    color: var(--sg-black80);
    padding-top: .875rem
}

h1, h2, h3 {
    color: var(--sg-navy);
    padding-bottom: 2px;
    margin-bottom: 8px;
}

h4, h5, h6 {
    margin-bottom: .3rem
}

h1 {
    font-size: 2.25rem
}

h2 {
    font-size: 1.85rem
}

h3 {
    font-size: 1.55rem
}

h4 {
    font-size: 1.25rem
}

h5 {
    font-size: 1rem
}

h6 {
    font-size: .875rem
}

p {
    font-size: 14px;
}

a {
    color: var(--sg-navy);
}

a:hover {
    color: var(--sg-orange);
}

.button {
    background-color: var(--sg-black80);
    color: var(--sg-white);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 7px 14px;
    border-radius: 8px;
    margin-left: 20px;
}

.button:hover {
    background-color: var(--sg-orange);
    color: var(--sg-black96);
}

hr {
    border: 0;
    border-bottom: 1px solid var(--sg-lightgrey);
    margin: 1rem auto
}

ol, ul {
    padding-left: 2rem
}

li {
    margin-top: 0.1rem
}

ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0
}

.homepage-card {
    background: var(--sg-white);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 var(--sg-grey);
    width: 100%;
    min-height: 300px;
}