:root {
  --sg-font-sans: system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --sg-font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --sg-transparent: "transparent";
  --sg-black96: #0a0a0a;
  --sg-darkgrey: #202020;
  --sg-black80: #333333;
  --sg-grey: #8c9aa4;
  --sg-lightgrey: #f5f5f5;
  --sg-white: #ffffff;
  --sg-blue: #4ea2da;
  --sg-orange: #e78e47;
  --sg-navy: #20435b;
  --sg-red: #681f37;
  --sg-green: #248e6a;
  --sg-nav-height: 64px;
  --sg-sidebar-width: 272px;
}
.hide-nav {
  --sg-nav-height: 0px;
}
.hide-nav .Sidebar {
  --sg-nav-height: 22px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  :before,
  :after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  font-size: 16px;
  font-family: var(--sg-font-sans);
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  max-width: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  color: var(--sg-black80);
  font-size: 16px;
  line-height: 24px;
  background-image: url("/figs/scg-home-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--sg-orange);
  color: var(--sg-black96);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  color: var(--sg-black80);
}

strong,
b {
  font-weight: 600;
}
a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
a {
  color: var(--sg-navy);
  text-decoration: inherit;
}

a:hover {
  color: var(--sg-orange);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

blockquote {
  margin: 0;
}
pre,
code,
kbd,
samp {
  font-family: var(--vp-font-family-mono);
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
figure {
  margin: 0;
}
img,
video {
  max-width: 100%;
  height: auto;
}
button,
input,
optgroup,
select,
textarea {
  border: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
}
button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  background-image: none;
}
button:enabled,
[role="button"]:enabled {
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 1px dotted;
  outline: 4px auto -webkit-focus-ring-color;
}
button:focus:not(:focus-visible) {
  outline: none !important;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
table {
  border-collapse: collapse;
}
input {
  background-color: transparent;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: var(--vp-c-text-3);
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: var(--vp-c-text-3);
}
input::placeholder,
textarea::placeholder {
  color: var(--vp-c-text-3);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
textarea {
  resize: vertical;
}
fieldset {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  overflow-wrap: break-word;
}

.Layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* CONTENT */
.Content {
  flex-grow: 1;
  flex-shrink: 0;
  margin: var(--sg-layout-top-height, 0) auto 0;
  width: 100%;
  max-width: 100%;
}
.Content.has-sidebar {
  margin: 0;
}
@media (min-width: 960px) {
  .Content {
    padding-top: var(--sg-nav-height);
  }
  .Content.has-sidebar {
    margin: var(--sg-layout-top-height, 0px) 0 0;
    padding-left: var(--sg-sidebar-width);
  }
}
@media (min-width: 1440px) {
  .Content.has-sidebar {
    padding-right: calc((100vw - var(--sg-layout-max-width)) / 2);
    padding-left: calc(
      (100vw - var(--sg-layout-max-width)) / 2 + var(--sg-sidebar-width)
    );
  }
}

/* HOME */
.Home {
  margin-bottom: 96px;
}
@media (min-width: 768px) {
  .Home {
    margin-bottom: 128px;
  }
}

/* HERO */
.Hero {
  margin-top: calc(
    (var(--sg-nav-height) + var(--sg-layout-top-height, 0px)) * -1
  );
  padding: calc(var(--sg-nav-height) + var(--sg-layout-top-height, 0px) + 48px)
    24px 48px;
}
@media (min-width: 640px) {
  .Hero {
    padding: calc(
        var(--sg-nav-height) + var(--sg-layout-top-height, 0px) + 80px
      )
      48px 64px;
  }
}
@media (min-width: 960px) {
  .Hero {
    padding: calc(
        var(--sg-nav-height) + var(--sg-layout-top-height, 0px) + 80px
      )
      64px 64px;
  }
}
.Hero.has-image .container {
  text-align: center;
}
@media (min-width: 960px) {
  .Hero.has-image .container {
    text-align: left;
  }
}
@media (min-width: 960px) {
  .main {
    order: 1;
    width: calc((100% / 3) * 2);
  }
  .Hero.has-image .main {
    max-width: 592px;
  }
}
.Hero.has-image .text {
  margin: 0 auto;
}
.Hero .name {
  display: none;
}
@media (min-width: 960px) {
  .name,
  .text {
    line-height: 64px;
    font-size: 56px;
  }
  .Hero.has-image .name,
  .Hero.has-image .text {
    margin: 0;
  }
}
.Hero.has-image .actions {
  justify-content: center;
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1152px;
}
@media (min-width: 960px) {
  .container {
    flex-direction: row;
  }
}

/* MAIN */
.main {
  position: relative;
  z-index: 10;
  order: 2;
  flex-grow: 1;
  flex-shrink: 0;
}
@media (min-width: 960px) {
  .main {
    order: 1;
    width: calc((100% / 3) * 2);
  }
  .Hero.has-image .main {
    max-width: 592px;
  }
}

/* NAME & TEXT */
.name,
.text {
  max-width: 392px;
  letter-spacing: -0.4px;
  line-height: 40px;
  font-size: 32px;
  font-weight: 700;
  white-space: pre-wrap;
}
.Hero.has-image .name,
.Hero.has-image .text {
  margin: 0 auto;
}
.text {
  color: var(--sg-white);
}
@media (min-width: 640px) {
  .name,
  .text {
    max-width: 576px;
    line-height: 56px;
    font-size: 48px;
  }
}
@media (min-width: 960px) {
  .name,
  .text {
    line-height: 64px;
    font-size: 56px;
  }
  .Hero.has-image .name,
  .Hero.has-image .text {
    margin: 0;
  }
}

/* CLIP */
.clip {
  background: var(--vp-home-hero-name-background);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: var(--vp-home-hero-name-color);
}

/* TAGLINE */
.tagline {
  padding-top: 8px;
  max-width: 392px;
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  white-space: pre-wrap;
  color: var(--sg-lightgrey);
}
.Hero.has-image .tagline {
  margin: 0 auto;
}
@media (min-width: 640px) {
  .tagline {
    padding-top: 12px;
    max-width: 576px;
    line-height: 32px;
    font-size: 20px;
  }
}
@media (min-width: 960px) {
  .tagline {
    line-height: 36px;
    font-size: 24px;
  }
  .Hero.has-image .tagline {
    margin: 0;
  }
}

/* ACTIONS */
.actions {
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
  padding-top: 24px;
}
.Hero.has-image .actions {
  justify-content: center;
}
@media (min-width: 640px) {
  .actions {
    padding-top: 32px;
  }
}
@media (min-width: 960px) {
  .Hero.has-image .actions {
    justify-content: flex-start;
  }
}

/* IMAGE */
.image {
  order: 1;
  margin: -76px -24px -48px;
}
@media (min-width: 640px) {
  .image {
    margin: -108px -24px -48px;
  }
}
@media (min-width: 960px) {
  .image {
    flex-grow: 1;
    order: 2;
    margin: 0;
    min-height: 100%;
  }
}

/* IMAGE CONTAINER */
.image-container {
  position: relative;
  margin: 0 auto;
  width: 320px;
  height: 320px;
}
@media (min-width: 640px) {
  .image-container {
    width: 392px;
    height: 392px;
  }
}
@media (min-width: 960px) {
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: translate(-32px, -32px);
  }
}

/* image-src */
.image-src {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 192px;
  max-height: 192px;
  transform: translate(-50%, -50%);
}
@media (min-width: 640px) {
  .image-src {
    max-width: 256px;
    max-height: 256px;
  }
}
@media (min-width: 960px) {
  .image-src {
    max-width: 320px;
    max-height: 320px;
  }
}

/* BUTTON */
.Button {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  background-color: var(--sg-black80);
  color: var(--sg-white);
  text-decoration: none;
  padding: 7px 14px;
  border-radius: 8px;
  margin-left: 20px;
  transition:
    color 0.25s,
    border-color 0.25s,
    background-color 0.25s;
}
/* .VPButton.medium {
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
} */

.Button:active {
  background-color: var(--sg-orange);
  color: var(--sg-black96);
  transition:
    color 0.1s,
    border-color 0.1s,
    background-color 0.1s;
}


.homepage-card {
  background: var(--sg-white);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 var(--sg-grey);
  width: 100%;
  min-height: 300px;
}
